<% include('./partials/header') %> 
    <title>Awesome Notepad</title>
</head>
<body>
    <h1>Welcome to your new app for things like this</h1>
    <form action="/new-note" method="GET">
        <button type="submit" class="btn">New Note</button>
    </form>
</body>
<% include('./partials/footer') %> 

