<%- include('./partials/header') %> 
    <title>Awesome Notepad</title>
</head>
<body>
    <h1><%= title %> </h1>
    <form action="/" method="GET">
        <button type="submit" class="navButton"> Cancel </button>
    </form>
    <div class="card-edit">
        <form action="new-note" method="POST" class="form-control">
            <input type="text" name="title" autocomplete="off">
            <textarea name="content" rows="5"> </textarea>
                <button type="submit" class="myButton"> Save </button>
        </form>
    </div>
</body>
<%- include('./partials/footer') %> 
