.form-control {
    padding: 1rem 1rem 1rem 1rem;
}

.form-control label,
.form-control input,
.form-control textarea{
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    border-radius: 0rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;  
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    transition: all .2s ease-in-out
}

.form-control textarea {
    height: 10rem;
	background-color: rgb(248, 245, 166);
    border:none;
}

.form-control input:hover,
.form-control textarea:hover {
    transform: scale(1.02);
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}
